@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to Sunil Kumar Thakur ASP.NET MVC Web Site for User Registration. 
            </p>
        </div>
    </section>
}
<h3>I suggest the following:</h3>
<ol class="round">
     <li class="one">
        <h5>Home</h5>
        It's a Home Page Of my Web Site....
    </li> 
    <li class="two">
        <h5>Register</h5>
        Please Click The Register Link on the MVC Web Page to Register New Users....
    </li>
    <li class="three">
        <h5>Log In</h5>
        If you are already registered User then click the Log In Link to Go to Log In Page to Log in....
    </li>
       
</ol>
